@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  transition-property: all;
  transition-duration: 150ms;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:target {
  animation: highlight 1s ease-in-out;
}

@keyframes highlight {
  0% {
    background-color: lightpink;
  }
  100% {
    background-color: transparent;
  }
}

.rehype-code-title {
  background-color: black;
  color: white;
  z-index: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  padding: 5px 16px;
  font-weight: 600;
  margin-top: 8px;
  font-size: 16px;
  letter-spacing: 0.4px;
  margin-bottom: -35px;
}

.prose pre > code {
  display: grid;
  font-family: 'D2Coding', 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.prose pre::-webkit-scrollbar {
  height: 9px;
}

.prose pre::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: lightpink;
  border: 1px solid #f2f2f2;
}

.prose pre {
  scrollbar-width: thin;
  scrollbar-color: lightpink #f1f1f1;
  font-style: normal;
  font-size: 16px;
}

.prose pre span[data-line] {
  @apply inline-block px-1 py-[2px] leading-snug font-normal;
}

.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose a {
  color: gray;
}
.prose code[data-line-numbers] > span[data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 0.75rem;
  margin-right: 1.25rem;
  text-align: right;
  color: gray;
}

.prose code[data-line-numbers-max-digits='2'] > span[data-line]::before {
  width: 1.25rem;
}
.prose code[data-line-numbers-max-digits='3'] > span[data-line]::before {
  width: 1.75rem;
}

.prose div[data-rehype-pretty-code-title] {
  @apply px-5 py-3 font-mono text-sm font-bold text-gray-800 bg-gray-200 border border-b-0 border-gray-200 rounded-t-lg dark:text-gray-200 dark:border-gray-700 dark:bg-gray-800;
}
.prose div[data-rehype-pretty-code-title] + pre {
  @apply mt-0 rounded-t-none;
}

/* Fenced Code block - line hightlight */
.prose code span[data-highlighted-line] {
  @apply border-l-2 border-y-0 border-transparent bg-opacity-10 
         border-blue-400 bg-indigo-400 dark:border-blue-500 dark:bg-slate-700
         pl-[calc(0.5rem-2px)] md:pl-[calc(1rem-2px)];
}

/* Fenced Code block - word highlight */
.prose span[data-highlighted-chars] {
  @apply bg-teal-400  bg-opacity-25;
}
.prose span[data-highlighted-chars][data-chars-id='y'] {
  @apply bg-yellow-400  bg-opacity-25;
}
.prose span[data-highlighted-chars][data-chars-id='b'] {
  @apply bg-sky-400 bg-opacity-25;
}
